*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: small;
}
input{
    border: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgba(255, 255, 255, 0.199);
    padding: 1.6vh 5px;
    border-radius: 2px;
    color: white;
    transition: all 200ms ease-in-out;
}
input::placeholder{
    color: rgb(204, 204, 204);
}
input:focus{
    outline: 0;
    border: 1px solid white;
}
button{
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.199);
    padding: 1vh 15px;
    transition: all 200ms ease-in-out;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.425); ;
}
nav{
    background-color: rgb(35, 2, 66);
    backdrop-filter: blur(100   px);
    height: 10vh;
    padding: 0px 25px;
    display: flex;
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.gridInput{
    display: flex;
    gap: 10px;
}

.radio{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.radio div{
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;
}
.gridInput{
    display: flex;
    align-items: center;
    gap: 10px;
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.line{
    width: fit-content;
    display: flex;
    border-left: 2px solid black ;
}
.line:first-of-type{
    border-top: 2px solid black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.line:first-of-type .block:first-of-type{
    border-top-left-radius: 7px;
}
.line:first-of-type .block:last-of-type{
    border-top-right-radius: 9px;
}
.line:last-of-type{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.line:last-of-type .block:first-of-type{
    border-bottom-left-radius: 8px;
}
.line:last-of-type .block:last-of-type{
    border-bottom-right-radius: 8px;
}

.appear{
    animation: appear 1s ease-in-out
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;  
}
#container{
    min-width: 60vh;
    min-height: 60vh;
}
.block {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transition: all 400ms ease-out;
    background-color: white;
}
.selected-block{
    background-color: black;
}
.block:hover{
    background-color: black;
}
@keyframes appear {
    from{
        filter: blur(10px);
    } to {
        filter: blur(0px);
    }
}